@font-face {
    font-family: 'Flexo-Heavy';
    src: url(Fonts/Flexo-Heavy.woff);
  }
  

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Flexo-Heavy', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(194, 40, 40)
  }